workflows/caption-callback-handler.json
{
  "name": "📋 Caption Callback + Publish (WF2b)",
  "nodes": [
    {
      "id": "tg-trigger-01",
      "name": "Telegram Callback",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [200, 300],
      "parameters": {
        "updates": ["callback_query"],
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {"id": "Qnh5jmW5sNzjGjrY", "name": "Telegram account"}
      }
    },
    {
      "id": "parse-cb-01",
      "name": "Parse Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "parameters": {
        "jsCode": "const cb = $input.first().json.callback_query;\nconst parts = cb.data.split(':');\nconst actionRaw = parts[0] || '';\nconst action = actionRaw === 'app' ? 'approve' : actionRaw === 'adj' ? 'adjust' : actionRaw;\nreturn [{ json: {\n  action,\n  task_id: parts[1] || '',\n  file_id: parts[2] || '',\n  post_type: parts[3] || 'feed_ig',\n  query_id: cb.id,\n  chat_id: String(cb.message.chat.id),\n  message_id: String(cb.message.message_id)\n} }];"
      }
    },
    {
      "id": "answer-cb-01",
      "name": "Answer Callback",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [680, 300],
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $json.query_id }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {"id": "Qnh5jmW5sNzjGjrY", "name": "Telegram account"}
      }
    },
    {
      "id": "route-01",
      "name": "Route Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [920, 300],
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.action }}",
        "rules": {
          "rules": [
            {"value2": "approve"},
            {"value2": "adjust"}
          ]
        }
      }
    },
    {
      "id": "get-caption-01",
      "name": "Get Caption from DB",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1200, 180],
      "credentials": {
        "supabaseApi": {"id": "xX5CZKJLuLoSqfGG", "name": "Supabase account"}
      },
      "parameters": {
        "operation": "getAll",
        "useCustomSchema": true,
        "schema": "nenufar",
        "tableId": "pending_captions",
        "returnAll": false,
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "condition": "eq",
              "keyName": "task_id",
              "keyValue": "={{ $('Parse Callback').first().json.task_id }}"
            }
          ]
        }
      }
    },
    {
      "id": "build-meta-01",
      "name": "Build Meta Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 180],
      "parameters": {
        "jsCode": "const parsed = $('Parse Callback').first().json;\nconst captionRow = $('Get Caption from DB').first().json;\nconst caption = captionRow.caption || '';\nconst fileId = captionRow.file_id || parsed.file_id;\nconst postType = captionRow.post_type || parsed.post_type || 'feed_ig';\nconst isVideo = postType === 'story';\nconst bridgeUrl = `http://132.145.73.80:3010/serve/${fileId}`;\nreturn { json: {\n  file_id: fileId,\n  task_id: parsed.task_id,\n  post_type: postType,\n  chat_id: parsed.chat_id,\n  caption,\n  isVideo,\n  bridge_url: bridgeUrl\n} };"
      }
    },
    {
      "id": "ig-create-01",
      "name": "IG: Create Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1720, 100],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.IG_BUSINESS_ACCOUNT_ID }}/media",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {"name": "image_url", "value": "={{ $json.bridge_url }}"},
            {"name": "caption", "value": "={{ $json.caption }}"},
            {"name": "access_token", "value": "={{ $env.META_PAGE_ACCESS_TOKEN }}"}
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "ig-publish-01",
      "name": "IG: Publish Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1960, 100],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.IG_BUSINESS_ACCOUNT_ID }}/media_publish",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {"name": "creation_id", "value": "={{ $json.body.id || $json.id }}"},
            {"name": "access_token", "value": "={{ $env.META_PAGE_ACCESS_TOKEN }}"}
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "fb-publish-01",
      "name": "FB: Publish Photo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1720, 320],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.FB_PAGE_ID }}/photos",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {"name": "url", "value": "={{ $('Build Meta Payload').first().json.bridge_url }}"},
            {"name": "message", "value": "={{ $('Build Meta Payload').first().json.caption }}"},
            {"name": "access_token", "value": "={{ $env.META_PAGE_ACCESS_TOKEN }}"}
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "mark-pub-01",
      "name": "Mark Published",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2200, 180],
      "credentials": {
        "supabaseApi": {"id": "xX5CZKJLuLoSqfGG", "name": "Supabase account"}
      },
      "parameters": {
        "operation": "update",
        "useCustomSchema": true,
        "schema": "nenufar",
        "tableId": "processed_files",
        "filters": {
          "conditions": [
            {
              "condition": "eq",
              "keyName": "id",
              "keyValue": "={{ $('Parse Callback').first().json.task_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {"fieldId": "status", "fieldValue": "published"}
          ]
        }
      }
    },
    {
      "id": "notify-pub-01",
      "name": "Notify Published",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2440, 180],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Parse Callback').first().json.chat_id }}",
        "text": "✅ ¡Publicado con éxito! Tu creación ya está en Instagram y Facebook.",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {"id": "Qnh5jmW5sNzjGjrY", "name": "Telegram account"}
      }
    },
    {
      "id": "notify-adjust-01",
      "name": "Notify Adjusting",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1200, 440],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Parse Callback').first().json.chat_id }}",
        "text": "✏️ Le avisé a Luna. Te pregunta en un momento qué quieres cambiar.",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {"id": "Qnh5jmW5sNzjGjrY", "name": "Telegram account"}
      }
    },
    {
      "id": "bridge-adjust-01",
      "name": "Notify Luna via Bridge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 580],
      "parameters": {
        "method": "POST",
        "url": "=http://132.145.73.80:3010/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action: 'adjust', task_id: $('Parse Callback').first().json.task_id, message: 'Shirley wants to adjust the caption.' }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Telegram Callback": {"main": [[{"index": 0, "node": "Parse Callback", "type": "main"}]]},
    "Parse Callback": {"main": [[{"index": 0, "node": "Answer Callback", "type": "main"}]]},
    "Answer Callback": {"main": [[{"index": 0, "node": "Route Action", "type": "main"}]]},
    "Route Action": {"main": [[{"index": 0, "node": "Get Caption from DB", "type": "main"}], [{"index": 0, "node": "Notify Adjusting", "type": "main"}, {"index": 0, "node": "Notify Luna via Bridge", "type": "main"}]]},
    "Get Caption from DB": {"main": [[{"index": 0, "node": "Build Meta Payload", "type": "main"}]]},
    "Build Meta Payload": {"main": [[{"index": 0, "node": "IG: Create Container", "type": "main"}, {"index": 0, "node": "FB: Publish Photo", "type": "main"}]]},
    "IG: Create Container": {"main": [[{"index": 0, "node": "IG: Publish Container", "type": "main"}]]},
    "IG: Publish Container": {"main": [[{"index": 0, "node": "Mark Published", "type": "main"}]]},
    "FB: Publish Photo": {"main": [[{"index": 0, "node": "Mark Published", "type": "main"}]]},
    "Mark Published": {"main": [[{"index": 0, "node": "Notify Published", "type": "main"}]]}
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
