workflows/luna-rag-knowledge-base.json
{
  "name": "Luna RAG Knowledge Base",
  "nodes": [
    {
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {}
    },
    {
      "id": "read-brand-files",
      "name": "Read Brand Knowledge Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Brand knowledge documents to embed\nconst brandKnowledge = [\n  {\n    id: 'brand-essence-001',\n    content: `# Brand Essence: Nenufar\n\n## Slogan\n\"We enhance the beauty and style of men and women who embrace indigo art.\"\n\n## Brand DNA\nNenufar is a brand that values nature, meaningful details, and the sacred time invested in craftsmanship. It defines itself as a creative person, lover of natural things, and conscious of the value of manual work.\n\n## Target Audience\n- **Children:** Minimalist accessories with cute designs or favorite characters.\n- **Bold Woman:** Striking pieces, nature insignias, powerful personality.\n- **Conservative Woman:** Simple, meaningful designs connected with literature, nature, or spirituality.\n\n## Voice and Tone\n- **Trato (Address):** Close, always using \"tú\" (tutear).\n- **Style:** Poetic echo, manifesting tolerance and respect for diversity.\n- **Narrative Identity:** \"Woven poems\" (Poemas tejidos).\n- **Emojis:** Usage reserved for the end of each message.\n\n## Approved Keywords\n- Nenúfar contigo\n- Tejiendo esperanzas\n- Tejiendo caminos\n- Punzadas de amor\n- Arte hecho a mano\n- Poemas tejidos\n- Gajes del oficio\n\n## Prohibited Words\n- Cheap (barato)\n- Aggressive offer\n- Low cost`,\n    metadata: {\n      type: 'brand_essence',\n      source: 'specs/brand_essence.md',\n      priority: 'high'\n    }\n  },\n  {\n    id: 'soul-001',\n    content: `# SOUL.md — Nenufar\n\n## Identidad del Agente\nEres **Luna**, la voz digital de Nenufar. Tu propósito es conectar el arte del tejido ancestral con el corazón de las personas, comunicando no solo la belleza de las piezas, sino el impacto social detrás de ellas.\n\n**IMPORTANTE:**\n- Escribe SIEMPRE en español.\n- **Trato:** Tutea siempre al cliente.\n- **Emojis:** Úsalos solo al final de cada mensaje o párrafo.\n\n## El Alma de la Joyería (ADN)\n> \"Realzamos la belleza y estilo de hombres y mujeres que acogen el arte índigo.\"\n\n**Misión Social:**\nNenufar no es solo joyería; es un motor de cambio. Capacitamos a madres trabajadoras en técnicas de tejido para que puedan crear desde sus hogares, equilibrando el cuidado de sus familias con la generación de ingresos sostenibles.\n\n**Personalidad de Marca:**\nAmante de la naturaleza y los detalles con significado. Valoramos la creatividad y el tiempo sagrado depositado en cada puntada artesanal. Somos un espacio de tolerancia y respeto por la diversidad.\n\n## ¿A quién le hablamos? (Segmentos)\n1. **Niñez:** Accesorios minimalistas, tiernos o de personajes favoritos.\n2. **Mujer Empoderada/Audaz:** Diseños llamativos, insignias de la naturaleza y piezas que resaltan una personalidad arrolladora.\n3. **Mujer Conservadora:** Diseños sencillos y significativos que conectan con la literatura, la naturaleza o la espiritualidad.\n\n## Tono y Estilo\n- **Eco Poético:** Hablamos del proceso como \"poemas tejidos\".\n- **Educativo:** Compartimos los \"gajes del oficio\" y el valor del proceso de elaboración.\n- **Cercano y Humano:** No somos una tienda masiva; somos arte para llevar puesto.\n\n## Reglas de Oro (Copywriting)\n- **Palabras que AMAMOS:** Nenúfar contigo, tejiendo esperanzas, tejiendo caminos, punzadas de amor, arte hecho a mano, poemas tejidos, gajes del oficio.\n- **Palabras PROHIBIDAS:** \"Barato\", \"Oferta agresiva\", \"Low cost\".\n- **Significado de Colores:**\n    - 🟡 **Dorado:** Poder y luminosidad.\n    - 🔴 **Rojo:** Fuerza.\n    - 🟡 **Amarillo:** Alegría y entusiasmo por un nuevo día.\n\n## Estrategia de Contenido (7 días)\n- **Lunes:** \"Tejiendo Caminos\" (Social - Historias de las madres artesanas).\n- **Martes:** \"Poemas Tejidos\" (Storytelling de una pieza específica).\n- **Miércoles:** \"Gajes del Oficio\" (Video del proceso de tejido o técnica).\n- **Jueves:** \"Universo Infantil/Juvenil\" (Foco en niños o accesorios minimalistas).\n- **Viernes:** \"Naturaleza y Espíritu\" (Conexión de piezas con la espiritualidad/literatura).\n- **Sábado:** \"Cultura en Movimiento\" (Fotos de clientes en museos, recitales o eventos en Cartagena).\n- **Domingo:** \"Reflexión y Color\" (Significado de los colores y energía para la semana).\n\n_\"Cada pieza es un poema que alguien decide llevar consigo.\"_`,\n    metadata: {\n      type: 'soul',\n      source: 'SOUL.md',\n      priority: 'high'\n    }\n  },\n  {\n    id: 'product-catalog-001',\n    content: `# Product Catalog: Nenufar\n\n## Base Materials\n- **Mostacilla Checa:** High-quality Czech beads for intricate designs.\n- **Hilo Apta:** Durable thread suitable for weaving techniques.\n- **Stainless Steel:** Hypoallergenic, long-lasting metal components.\n- **Natural Stones:** Semi-precious stones for unique, nature-inspired pieces.\n\n## Crafting Techniques\n- **Freehand:** Free-form weaving without loom constraints.\n- **Loom:** Traditional loom weaving for structured patterns.\n- **Peyote:** Off-loom bead weaving technique for textured surfaces.\n- **Ladrillo:** Brick stitch technique for geometric designs.\n- **Tubular:** Tubular weaving for cylindrical components.\n\n## Product Categories\n- **Children's Accessories:** Bracelets, necklaces with cute characters.\n- **Bold Woman Collection:** Statement pieces with nature insignias.\n- **Conservative Woman Collection:** Simple, meaningful designs.\n- **Custom Orders:** Personalized pieces based on customer preferences.\n\n## Pricing Strategy\n- Prices reflect artisanal craftsmanship and social impact.\n- No aggressive discounts or \"cheap\" positioning.\n- Value-based pricing highlighting the story behind each piece.`,\n    metadata: {\n      type: 'product_catalog',\n      source: 'specs/product_catalog.md',\n      priority: 'medium'\n    }\n  },\n  {\n    id: 'social-impact-001',\n    content: `# Social Impact: Nenufar\n\n## Core Mission\nWe train working head-of-household mothers in weaving techniques so they can create from home. Every piece represents a story of overcoming and family care.\n\n## Key Phrases\n- \"Trabajamos con madres cabeza de hogar...\"\n- \"Cada puntada es un paso hacia la estabilidad...\"\n- \"Tejiendo esperanzas, tejiendo caminos...\"\n- \"Punzadas de amor que transforman vidas...\"\n\n## Impact Metrics\n- Mothers trained: [Number to be updated]\n- Pieces created: [Number to be updated]\n- Families supported: [Number to be updated]\n\n## Social Media Integration\n- Always mention the artisan mothers in posts.\n- Share stories of the women behind each piece.\n- Highlight the social impact of every purchase.\n- Connect products to the mission of empowering working mothers.`,\n    metadata: {\n      type: 'social_impact',\n      source: 'specs/social_impact.md',\n      priority: 'high'\n    }\n  }\n];\n\nreturn brandKnowledge.map(doc => ({\n  json: {\n    id: doc.id,\n    content: doc.content,\n    metadata: doc.metadata\n  }\n}));"
      }
    },
    {
      "id": "generate-embeddings",
      "name": "Generate Embeddings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300],
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/text-embedding-004:embedContent?key=YOUR_GEMINI_API_KEY",
        "authentication": "none",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{$json.content}}"
            },
            {
              "name": "model",
              "value": "models/text-embedding-004"
            }
          ]
        },
        "options": {},
        "jsonBody": "={\n  \"content\": {\n    \"parts\": [\n      {\n        \"text\": \"{{ $json.content }}\"\n      }\n    ]\n  }\n}"
      },
      "credentials": {}
    },
    {
      "id": "prepare-vector-data",
      "name": "Prepare Vector Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Extract embedding from Gemini response\nconst embedding = $input.item.json.embedding.values;\nconst document = $input.item.json;\n\n// Prepare data for Supabase Vector Store\nreturn {\n  json: {\n    id: document.id,\n    content: document.content,\n    embedding: embedding,\n    metadata: document.metadata\n  }\n};"
      }
    },
    {
      "id": "store-in-supabase",
      "name": "Store in Supabase Vector Store",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1050, 300],
      "parameters": {
        "operation": "insert",
        "table": "brand_knowledge",
        "data": "={{JSON.stringify({\n  id: $json.id,\n  content: $json.content,\n  embedding: $json.embedding,\n  metadata: $json.metadata\n})}}",
        "options": {}
      },
      "credentials": {
        "supabaseApi": {
          "id": "xX5CZKJLuLoSqfGG",
          "name": "Supabase account"
        }
      }
    },
    {
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300],
      "parameters": {
        "language": "javaScript",
        "jsCode": "return {\n  json: {\n    message: 'Brand knowledge embeddings created and stored successfully',\n    documents_processed: $input.item.json.length || 1,\n    timestamp: new Date().toISOString()\n  }\n};"
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Brand Knowledge Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Brand Knowledge Files": {
      "main": [
        [
          {
            "node": "Generate Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embeddings": {
      "main": [
        [
          {
            "node": "Prepare Vector Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Vector Data": {
      "main": [
        [
          {
            "node": "Store in Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store in Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
