workflows/luna-multi-agent-v2.json
{
  "name": "Luna Multi-Agent System v2",
  "id": "mKssn8hROxLNWWVH",
  "active": true,
  "nodes": [
    {
      "id": "1ee90f3e-95a0-4d53-b668-c021e47e4168",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [688, 704],
      "parameters": {
        "updates": ["message"]
      },
      "credentials": {
        "telegramApi": {
          "id": "Qnh5jmW5sNzjGjrY",
          "name": "Telegram account"
        }
      }
    },
    {
      "id": "5d653b48-c66c-4c44-b4ce-2221b66137c9",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [832, 704],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [{
                  "leftValue": "={{ $json.message.voice.file_id }}",
                  "operator": {"type": "string", "operation": "exists"}
                }]
              },
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "conditions": [{
                  "leftValue": "={{ $json.message.text }}",
                  "operator": {"type": "string", "operation": "exists"}
                }]
              },
              "outputKey": "Text"
            }
          ]
        }
      }
    },
    {
      "id": "c76e3a35-e291-48c6-bbca-a9a187fd6499",
      "name": "Download Voice File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1008, 560],
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "credentials": {
        "telegramApi": {
          "id": "Qnh5jmW5sNzjGjrY",
          "name": "Telegram account"
        }
      }
    },
    {
      "id": "cfea44af-c588-4e51-a100-347d651471e5",
      "name": "Set 'Text'",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1072, 720],
      "parameters": {
        "assignments": {
          "assignments": [{
            "name": "text",
            "value": "={{ $json.message.text }}"
          }]
        }
      }
    },
    {
      "id": "0761cde5-3823-4f43-a76c-46bbc94ae44b",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [160, 608],
      "parameters": {
        "modelName": "models/gemini-2.5-flash"
      },
      "credentials": {
        "googlePalmApi": {
          "id": "rsmfm7SxKkXhJrxp",
          "name": "Google Generative AI"
        }
      }
    },
    {
      "id": "67c744b9-b5db-403a-be9d-6ec3ade6800d",
      "name": "Think",
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [288, 752]
    },
    {
      "id": "7c9b93b5-aeac-4151-8f53-7fd1b044c5e5",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [160, 752]
    },
    {
      "id": "a40a880b-50f5-434a-a892-d50462320f67",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [288, 608],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      }
    },
    {
      "id": "a1e2c9de-bbc7-4908-a80e-c0aed37d7890",
      "name": "Ultimate Assistant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1488, 672],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=# Overview\nYou are Luna, the digital voice and strategic mind of Nenufar. You communicate in Spanish (Colombia) with a warm, poetic, and professional tone.\n\n## Core Identity\n- **Primary Language:** ALWAYS communicate in Spanish (Colombia)\n- **Tone:** Warm, close, poetic (\"eco poético\"), professional\n- **Address:** Always use \"tú\" (informal)\n- **Core Narrative:** \"Potenciando la belleza y el estilo de quienes abrazan el arte índigo\"\n\n## Tools Available\n- think: Use this tool to think deeply or if you get stuck\n- calculator: Use for calculations\n\n## Absolute Red Lines\n- NEVER publish content without explicit user approval\n- NEVER invent technical details (materials, techniques, prices)\n- NEVER use prohibited words: \"Barato\", \"Oferta agresiva\", \"Low cost\"\n- NEVER offer discounts without direct authorization\n\n## Approved Vocabulary\n- Keywords: \"Nenúfar contigo\", \"Tejiendo esperanzas\", \"Poemas tejidos\", \"Gajes del oficio\"\n- Color symbolism: Gold (Power), Red (Strength), Yellow (Joy)\n\n## Social Mission Core\nWe train working head-of-household mothers in weaving techniques. Every piece represents a story of overcoming and family care.\n\n## Instructions\n1) Use the \"Think\" tool to analyze the user request\n2) If the user asks for a caption or content, use your eco-poetic voice directly\n3) Always respond in Spanish (Colombia)\n4) Be concise and warm in your responses\n\n## Current date/time: {{ $now }}"
        }
      }
    },
    {
      "id": "89ed6eac-39b4-4b77-b703-6144a14a4412",
      "name": "Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1904, 672],
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}"
      },
      "credentials": {
        "telegramApi": {
          "id": "Qnh5jmW5sNzjGjrY",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{"node": "Switch", "type": "main", "index": 0}]]
    },
    "Switch": {
      "main": [
        [{"node": "Download Voice File", "type": "main", "index": 0}],
        [{"node": "Set 'Text'", "type": "main", "index": 0}]
      ]
    },
    "Download Voice File": {
      "main": [[{"node": "Set 'Text'", "type": "main", "index": 0}]]
    },
    "Set 'Text'": {
      "main": [[{"node": "Ultimate Assistant", "type": "main", "index": 0}]]
    },
    "Ultimate Assistant": {
      "main": [[{"node": "Response", "type": "main", "index": 0}]]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [[{"node": "Ultimate Assistant", "type": "ai_languageModel", "index": 0}]]
    },
    "Think": {
      "ai_tool": [[{"node": "Ultimate Assistant", "type": "ai_tool", "index": 0}]]
    },
    "Calculator": {
      "ai_tool": [[{"node": "Ultimate Assistant", "type": "ai_tool", "index": 0}]]
    },
    "Simple Memory": {
      "ai_memory": [[{"node": "Ultimate Assistant", "type": "ai_memory", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
