workflows/luna-semantic-search.json
{
  "name": "Luna Semantic Search (RAG)",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "path": "luna-semantic-search",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "generate-query-embedding",
      "name": "Generate Query Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300],
      "parameters": {
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input",
              "value": "={{$json.query}}"
            },
            {
              "name": "model",
              "value": "text-embedding-ada-002"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "kKHR1K1b41LwCGBF",
          "name": "Header Auth account"
        }
      }
    },
    {
      "id": "prepare-search-query",
      "name": "Prepare Search Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Extract query embedding\nconst embedding = $input.item.json.data[0].embedding;\nconst query = $input.item.json.query;\nconst topK = $input.item.json.top_k || 3;\n\n// Prepare Supabase RPC call for vector similarity search\nreturn {\n  json: {\n    query_embedding: embedding,\n    query: query,\n    top_k: topK\n  }\n};"
      }
    },
    {
      "id": "search-vector-store",
      "name": "Search Vector Store",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300],
      "parameters": {
        "url": "=https://your-project-id.supabase.co/rest/v1/rpc/match_brand_knowledge",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_ANON_KEY"
            },
            {
              "name": "Authorization",
              "value": "=Bearer YOUR_SUPABASE_ANON_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query_embedding",
              "value": "={{$json.query_embedding}}"
            },
            {
              "name": "match_count",
              "value": "={{$json.top_k}}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "kKHR1K1b41LwCGBF",
          "name": "Header Auth account"
        }
      }
    },
    {
      "id": "format-results",
      "name": "Format Search Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Format the search results for the Multi-Agent System\nconst results = $input.item.json;\nconst originalQuery = $input.item.json.query;\n\nconst formattedResults = results.map((result, index) => ({\n  rank: index + 1,\n  similarity: result.similarity || result.distance,\n  content: result.content,\n  metadata: result.metadata,\n  source: result.metadata?.source || 'unknown'\n}));\n\nreturn {\n  json: {\n    query: originalQuery,\n    results: formattedResults,\n    total_results: formattedResults.length,\n    timestamp: new Date().toISOString()\n  }\n};"
      }
    },
    {
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify($json)}}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Generate Query Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Query Embedding": {
      "main": [
        [
          {
            "node": "Prepare Search Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Search Query": {
      "main": [
        [
          {
            "node": "Search Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Vector Store": {
      "main": [
        [
          {
            "node": "Format Search Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Search Results": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
