workflows/luna-feedback-logging.json
{
  "name": "Luna Feedback and Logging Worker",
  "id": "v7j1Dv1mgO5ZUgmG",
  "active": true,
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [250, 300],
      "parameters": {
        "path": "84a3d6c1-418d-574b-9dc9-5b8a4e209e00",
        "options": {
          "onError": "continueRegularOutput"
        }
      }
    },
    {
      "id": "supabase-insert",
      "name": "Log to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [450, 300],
      "parameters": {
        "operation": "create",
        "tableId": "posts",
        "data": {}
      },
      "credentials": {
        "supabaseApi": {
          "id": "xX5CZKJLuLoSqfGG",
          "name": "Supabase account"
        }
      }
    },
    {
      "id": "telegram-notify",
      "name": "Telegram Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [650, 300],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "text": "=✨ ¡Publicación exitosa! ✨\n\n📝 Tarea: {{$json.task_id}}\n\n📱 Plataformas: {{$json.platforms.join(', ')}}\n\n🔗 Ver publicación: {{$json.post_url}}"
      },
      "credentials": {
        "telegramApi": {
          "id": "Qnh5jmW5sNzjGjrY",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Log to Supabase", "type": "main", "index": 0}]]
    },
    "Log to Supabase": {
      "main": [[{"node": "Telegram Notification", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
