workflows/luna-image-processor-v2.json
{
  "name": "Luna Image Processor Worker v2",
  "id": "3JGieW6MBlANnaud",
  "active": true,
  "nodes": [
    {
      "id": "redis-trigger",
      "name": "Redis Queue Trigger",
      "type": "n8n-nodes-base.redisTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "channels": "luna-queue"
      },
      "credentials": {
        "redis": {
          "id": "0Kt51mAkW9dMB3aj",
          "name": "Upstash Redis Queue"
        }
      }
    },
    {
      "id": "parse-task",
      "name": "Parse Task Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const taskData = JSON.parse($input.item.json.data);\nreturn {\n  json: {\n    task_id: taskData.task_id,\n    media_path: taskData.media_path,\n    caption: taskData.caption,\n    hashtags: taskData.hashtags,\n    platforms: taskData.platforms\n  }\n};"
      }
    },
    {
      "id": "download-drive",
      "name": "Download from Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [650, 300],
      "parameters": {
        "operation": "get",
        "fileId": "={{$json.media_path}}"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "IJGx4YEq7DBtHbZM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "id": "process-image",
      "name": "Process Image (Resize + Watermark)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// TODO: Implement image processing with Sharp\n// 1. Resize to 1080x1080 (FB) or 1080x1350 (IG)\n// 2. Apply Nenufar watermark\nconst imageData = $input.item.binary.data;\nconst taskData = $input.item.json;\n\nreturn {\n  json: {\n    task_id: taskData.task_id,\n    image_path: taskData.image_path,\n    caption: taskData.caption,\n    hashtags: taskData.hashtags,\n    platforms: taskData.platforms\n  },\n  binary: {\n    data: imageData\n  }\n};"
      }
    },
    {
      "id": "queue-next",
      "name": "Queue for Social Publisher",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1050, 300],
      "parameters": {
        "operation": "push",
        "list": "luna-image-processed",
        "messageData": "={{JSON.stringify({task_id: $json.task_id, image_path: $json.image_path, caption: $json.caption, hashtags: $json.hashtags, platforms: $json.platforms})}}"
      },
      "credentials": {
        "redis": {
          "id": "0Kt51mAkW9dMB3aj",
          "name": "Upstash Redis Queue"
        }
      }
    }
  ],
  "connections": {
    "Redis Queue Trigger": {
      "main": [[{"node": "Parse Task Data", "type": "main", "index": 0}]]
    },
    "Parse Task Data": {
      "main": [[{"node": "Download from Google Drive", "type": "main", "index": 0}]]
    },
    "Download from Google Drive": {
      "main": [[{"node": "Process Image (Resize + Watermark)", "type": "main", "index": 0}]]
    },
    "Process Image (Resize + Watermark)": {
      "main": [[{"node": "Queue for Social Publisher", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
