workflows/luna-image-processor-v3.json
{
  "name": "Luna Image Processor Worker v3",
  "id": "3JGieW6MBlANnaud",
  "active": true,
  "nodes": [
    {
      "id": "redis-trigger",
      "name": "Redis Queue Trigger",
      "type": "n8n-nodes-base.redisTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "channels": "luna-queue"
      },
      "credentials": {
        "redis": {
          "id": "0Kt51mAkW9dMB3aj",
          "name": "Upstash Redis Queue"
        }
      }
    },
    {
      "id": "parse-task",
      "name": "Parse Task Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const taskData = JSON.parse($input.item.json.data);\nreturn {\n  json: {\n    task_id: taskData.task_id,\n    media_path: taskData.media_path,\n    caption: taskData.caption,\n    hashtags: taskData.hashtags,\n    platforms: taskData.platforms\n  }\n};"
      }
    },
    {
      "id": "download-drive",
      "name": "Download from Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [650, 300],
      "parameters": {
        "operation": "get",
        "fileId": "={{$json.media_path}}"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "IJGx4YEq7DBtHbZM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "id": "download-logo",
      "name": "Download Nenufar Logo",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [650, 450],
      "parameters": {
        "operation": "get",
        "fileId": "1IqV6LcrVuZPl9iBdQCPjgro1WYhFB5UQ"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "IJGx4YEq7DBtHbZM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "id": "merge-assets",
      "name": "Merge Image + Logo",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [850, 350],
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      }
    },
    {
      "id": "process-image",
      "name": "Process Image (Resize + Watermark)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 350],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Image processing with Sharp for Nenufar watermark\nconst sharp = require('sharp');\n\n// Extract data from merged nodes\nconst imageData = $input.item(0).binary.data;\nconst logoData = $input.item(1).binary.data;\nconst taskData = $input.item(0).json;\n\n// Determine target platform dimensions\nconst isInstagram = taskData.platforms && taskData.platforms.includes('instagram');\nconst targetWidth = 1080;\nconst targetHeight = isInstagram ? 1350 : 1080; // IG: portrait, FB: square\n\ntry {\n  // Load and resize main image\n  let image = sharp(imageData)\n    .resize(targetWidth, targetHeight, {\n      fit: 'cover',\n      position: 'center'\n    });\n\n  // Get metadata for sizing logo appropriately\n  const metadata = await image.metadata();\n  const logoSize = Math.floor(Math.min(metadata.width, metadata.height) * 0.15); // 15% of image size\n\n  // Load and resize logo with transparency\n  const logoBuffer = await sharp(logoData)\n    .resize(logoSize, logoSize, {\n      fit: 'inside',\n      withoutEnlargement: true\n    })\n    .png()\n    .toBuffer();\n\n  // Apply watermark (bottom-right corner with 15% opacity)\n  const processedBuffer = await image\n    .composite([{\n      input: logoBuffer,\n      gravity: 'southeast',\n      blend: 'over'\n    }])\n    .png()\n    .toBuffer();\n  \n  return {\n    json: {\n      task_id: taskData.task_id,\n      image_path: taskData.image_path,\n      caption: taskData.caption,\n      hashtags: taskData.hashtags,\n      platforms: taskData.platforms,\n      processed: true,\n      watermark_applied: true,\n      dimensions: `${targetWidth}x${targetHeight}`\n    },\n    binary: {\n      data: processedBuffer\n    }\n  };\n} catch (error) {\n  throw new Error(`Image processing failed: ${error.message}`);\n}"
      }
    },
    {
      "id": "queue-next",
      "name": "Queue for Social Publisher",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1250, 350],
      "parameters": {
        "operation": "push",
        "list": "luna-image-processed",
        "messageData": "={{JSON.stringify({task_id: $json.task_id, image_path: $json.image_path, caption: $json.caption, hashtags: $json.hashtags, platforms: $json.platforms, watermark_applied: $json.watermark_applied, dimensions: $json.dimensions})}}"
      },
      "credentials": {
        "redis": {
          "id": "0Kt51mAkW9dMB3aj",
          "name": "Upstash Redis Queue"
        }
      }
    }
  ],
  "connections": {
    "Redis Queue Trigger": {
      "main": [[{"node": "Parse Task Data", "type": "main", "index": 0}]]
    },
    "Parse Task Data": {
      "main": [[{"node": "Download from Google Drive", "type": "main", "index": 0}], [{"node": "Download Nenufar Logo", "type": "main", "index": 0}]]
    },
    "Download from Google Drive": {
      "main": [[{"node": "Merge Image + Logo", "type": "main", "index": 0}]]
    },
    "Download Nenufar Logo": {
      "main": [[{"node": "Merge Image + Logo", "type": "main", "index": 1}]]
    },
    "Merge Image + Logo": {
      "main": [[{"node": "Process Image (Resize + Watermark)", "type": "main", "index": 0}]]
    },
    "Process Image (Resize + Watermark)": {
      "main": [[{"node": "Queue for Social Publisher", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
